@(eventForm: Form[Event] = Event.form, user: String, creationError: String = "")(implicit request: RequestHeader)

@import models._
@import helper._

@main("new event"){
  
  <h2> Add a new event </h2>
  @form(routes.EventController.newEvent) {
      <fieldset>
        <legend> Create a new account </legend>
          
          @inputText(
            eventForm("title"),
            '_label -> "Title:"
          )

          @inputText(
            eventForm("date"), 
            '_label -> "Date:" 
          )

          @inputText(
            eventForm("location"), 
            '_label -> "Location:" 
          )

          <input type="hidden" name="username" value="@user" />

          @inputText(
            eventForm("tags"),
            '_label -> "Tags:"
          )

      <input type="submit" value="Create">
  }  

}
