@(eventForm: Form[Event] = Event.form, user: String, creationError: String = "")(implicit request: RequestHeader)

@import models._
@import helper._

@main(creationError){
  
  <h2> Add a new event </h2>
  <h2> @user </h2>
  @form(routes.EventController.postEvent) {
      <fieldset>
        <legend> Create a new event </legend>
          
          @inputText(
            eventForm("title"),
            '_label -> "Title:"
          )

          @inputText(
            eventForm("date"), 
            '_label -> "Date:" 
          )

          @inputText(
            eventForm("location"), 
            '_label -> "Location:" 
          )

          <input type="hidden" id="user" name="user" value="@user" />

          @inputText(
            eventForm("tags"),
            '_label -> "Tags:"
          )

      <input type="submit" value="Create">
  }  

}
